.footer-menu.col-lg-8.col-md-8.footer-links
  %ul.nav
    %li
      ="<a>© 2013 TRAVELYENTA PTY. LTD.</a>".html_safe
    %li
      =link_to "privacy", privacy_path
    %li
      =link_to "copyright", copyright_path
    %li
      =link_to "disclaimer", ""           
.social-links.col-lg-4.col-md-4.footer-links
  %ul.nav
    %li
      =link_to image_tag("wireless.png"),""        
    %li
      =link_to image_tag("linkedin.png"),""
    %li
      =link_to image_tag("facebook.png"),""       
.clear 
:javascript
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-45813249-1', 'travelyenta.com');
  ga('send', 'pageview');

