.header-div
  .logo
    =link_to image_tag("yenta_logo_wb.jpg"), "/"
  .menu.row
    .col-lg-2.col-md-2
      =" "  
    .col-lg-2.col-md-2
      =link_to "Home", "", class:"active"
    .col-lg-2.col-md-2
      =link_to "Who we are", ""
    .col-lg-2.col-md-2
      =link_to "What we do", ""
    .col-lg-2.col-md-2
      =link_to "Contact Us", ""
    .col-lg-2.col-md-2
      =" "      
  .clear 
