.header-div-static
  .logo-small
    =link_to image_tag("yenta_logo_small.jpg"), "/"
  .contact-head
    %div
      1800 GO YENTA (1800 469 3682)
    %div            
      Skype: travel.yenta
    %div 
      =link_to "bookings@travelyenta.com", "mailto:bookings@travelyenta.com"
            
  .menu.row.menu-static
    .col-lg-1.col-md-1
      =" "  
    .col-lg-2.col-md-2
      -if controller?("home")
        =link_to "Home", "/", class:"active"
      -else
        =link_to "Home", "/"
    .col-lg-2.col-md-2
      -if controller?("static") && action?("wwr")
        =link_to "Who we are", who_we_are_path, class:"active"
      -else
        =link_to "Who we are", who_we_are_path
    .col-lg-2.col-md-2
      -if controller?("static") && action?("wwd")
        =link_to "What we do", what_we_do_path, class:"active"
      -else        
        =link_to "What we do", what_we_do_path
    .col-lg-2.col-md-2
      -if controller?("bookings")
        =link_to "Booking/Enquiry", new_booking_path, class:"active"
      -else
        =link_to "Booking/Enquiry", new_booking_path                
    .col-lg-2.col-md-2
      -if controller?("contact")
        =link_to "Contact Us", contact_us_path, class:"active"
      -else
        =link_to "Contact Us", contact_us_path        
    .col-lg-1.col-md-1
      =" "      
  .clear 