:javascript
  jQuery(document).ready(function(){
    $( ".datepicker" ).datepicker({
      showOn: "both",
       buttonImage: '/assets/calendar-128.png', 
        buttonImageOnly: true,    
    }    
    );  
    
  }); 