First Name:
=@booking.first_name
%br
Surname:
=@booking.surname
%br
Place of origin:
=@booking.place_of_origin
%br
Email:
=@booking.email
%br
Accept Call?:
=@booking.accept_call
%br
Phone:
=@booking.phone
%br
Message:
=@booking.message
%br
Created:
=@booking.created_at