.main-content.wwr  
  .content_title
    COPYRIGHT AND TRADEMARKS
    =image_tag "case.png", class: "case"
  .content_body
    .cr
      %strong
        Copyright Notice:
      %p
        All contents of this website including images, text, graphics and logos are subject to copyright © 2013, TRAVEL YENTA PTY. LTD. All rights reserved.
    .tn
      %strong
        Trademark Notice:
      %p
        TRAVEL YEANTA and certain other marks listed or mentioned in this Website are subject to and protected by the trademark, trade names, and service mark legislation and regulations.  Any use of such marks without obtaining prior written consent from TRAVEL YENTA PTY. LTD. is prohibited and will be prosecuted. Other trademarks and logos used or mentioned in our web site are the property of other third parties to whom they are attributed. And maybe also subject to trademark. We encourage to enquire directly with relevant third parties to ensure safe and authorized use of any material published or used in our wed site.