.main-content.wwd  
  .content_title
    Have you ever experienced the luxury of business and first class travel?
    =image_tag "case.png", class: "case"
  .content_body
    %p
      Affordable is word misused by so many in the travel industry perhaps we should define the meaning: 
    .quote.row
      .col-lg-4.left-quote
        =image_tag "left-quote.png", class: "image-quote"
      .col-lg-4
        af•ford•a•ble
        %br
        adj.
        %br
        Considered to be within one's financial means.
        %br
        af•ford`a•bil′i•ty, n.    
        %br
        af•ford′a•bly, adv.
      .col-lg-4.right-quote        
        =image_tag "right-quote.png", class: "image-quote"
    %p
      Have you ever experienced the luxury of business and first class travel? What if we told you, we could literally save you thousands of dollars from the costs off your business and first class airfare? What if we don’t promise you the world, but we did our very best to deliver? Albert Einstein once said, " Insanity is doing the same thing over and over again, expecting a different result" Lets not pretend we don’t all look for the best possible fare price before we make that final decision to book our flights. We all turn to Google and use those common search phrases in hope we find that one "special fare"
    %p
      "Affordable business and first class travel"? • "Discount business class and first class seat" •  "How to buy discounted business class tickets" •  "How to buy cheap first class tickets"The harsh truth is there are no tricks to the trade…. Wholesalers sell; airlines come along with a sale every now and then but never when you need them. Yenta has come along at the right time! It’s all about experience both in the sky and on the ground. Sure! You can talk with your local travel but the probability is very high that they haven’t travelled in Business or First class more than once, maybe twice (lets play nice).  Absolutely the airlines give the agencies trials when they release a new products but it’s an industry trial.  That’s not travel … that’s a trial! The sad truth is they are salesmen, taught to sell you tickets, and meet a target not to give you an experience or give experience that’s where we come in.