.main-content.wwr  
  .content_title
    Who we are
    =image_tag "case.png", class: "case"
  .content_body
    %p
      We at Yenta know what it is to travel around the world in the comfort of Business and First class, the commonality we share at Yenta is that we are all sophisticated and seasoned travellers. We often tell our clients our office room joke, "we have spent more nights in a skybed on an aeroplane, than in our own beds at home". 
    %p
      Here at Yenta we are travel industry insiders, we have seen the heavily priced tickets flood our market place since the first commercial aircraft landed on our shores! 
    %p
      We're governed and monopolised by a few airline companies that have set the benchmark for travellers like us. We aren’t travel agents! … There is no rocket science involved in working in a travel agency. Simply put …… we are just smart! At Yenta, we have merged years of experience, insider industry knowledge, expertise, and software to build a platform that allows us to lead the way in luxury airfare solutions. 
    %p
      Here is some food for thought, how about instead of giving the airlines the extra thousands of dollars that you work tirelessly for, and allow us at Yenta to help you save thousands of dollars, would that interest you? Take that money we save you and Splurge in the streets of Soho, create havoc in the shops of Milan, ski the slopes of Switzerland, safari the Serengeti or donate the money to a good cause but simply we want you to enjoy the Yenta experience! 
    %p
      Have you received a quote on business or first class travel recently? Let us take a look, and give you some options. If you want to have a schmooze! Don’t be shy bubbala, call us.  
    %p
      With loyalty and love, the Yenta’s!

