%div{"class" => "plain", "id"=>"skypeinfo"}
  .skype_img
    =image_tag "skype-logo.png", width:"150px;"
  .skype_wrap
    Skype: travel.yenta
  .email_wrap
    %a{"href"=>"mailto:bookings@travelyenta.com"}
      bookings@travelyenta.com
  .phone_wrap
    1800 GO YENTA
    %br
    %span
      (1800 469 3682)
