.button
  %a{"data_target"=>"skypeinfo", "id"=>"skypebutton", "onclick" => "popupBox('skypebutton','skypeinfo')"}
    Call Us
%div{"class" => "plain", "id"=>"skypeinfo", "style"=>"display:none"}
  .skype_img
    =image_tag "skype-logo.png", width:"150px;"
  .email_wrap
    %a{"href"=>"mailto:info@yenta.com"}
      info@yenta.com
  .phone_wrap
    1800 GO YENTA
    %br
    %span
      (1800 469 382)
