 @font-face {
 font-family: 'oswaldregular';
 src: url('oswald.regular-webfont.eot');
 src: url('oswald.regular-webfont.eot?#iefix') format('embedded-opentype'),  url('oswald.regular-webfont.woff') format('woff'),  url('oswald.regular-webfont.ttf') format('truetype'),  url('oswald.regular-webfont.svg#oswaldregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'titilliumtext22llight';
 src: url('titilliumtext22l002-webfont.eot');
 src: url('titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),  url('titilliumtext22l002-webfont.woff') format('woff'),  url('titilliumtext22l002-webfont.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'pala';
 src: url('pala.ttf'),
     url('pala.eot'); /* IE9 */ 
}

@font-face {
 font-family: 'gillsans';
 src: url('gillsans.ttf'),
     url('gillsans.eot'); /* IE9 */ 
}

body {
  /*font-family: titilliumtext22llight, gillsans, pala, sans-serif;*/
  font-family: gillsans, pala, sans-serif;
  background-color:#fff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: pala, sans-serif;
}

img{
  width:100%;
}
.clear{
  clear:both;
}
.header-div{
  width:100%;
  /*margin-bottom:30px;*/
}
.logo{
  width:20%;
  margin:0 auto;
  margin-bottom:5px;
}
.menu{
  margin:30px auto;
  /*margin-top:25px;*/  
}
.menu div{
  text-align:center;
}
.menu a{
  color:#7a7a7a;
  font-size:22px;
  line-height:22px;
  text-rendering: optimizeLegibility;  
  -webkit-font-smoothing: antialiased;
    
}
.menu a:focus, a:hover{
  background: url('under_line_dot.png') repeat-x bottom;
  text-decoration:none;
   
}

.footer{
  height:46px;
  width:100%;
  position:absolute;
  margin-top:-46px;
}
.footer-menu ul li{
  float:left;
}
.social-links ul li{
  float:right;
}

.footer-links > ul.nav > li > a, .footer-links > ul.nav > li > a:hover,.footer-links > ul.nav > li > a:focus{
  background-color: transparent; 
  text-decoration: none; 
  color:#eee;
  font-size:13px;
}
.social-links{
  text-align:right;
}
.social-links img{
  height:46px;
  width:46px;
}
.social-links > ul.nav > li > a{
  padding-top:0px;
  padding-bottom:0px;
}
.carousel-words {
    color:#eee;
    top: 100px;
    left: 10%;
    margin-left: 0%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    z-index: 15;
    font-size:34px;
}
nav.navbar-fixed-top, nav.navbar-fixed-bottom{
  border-width:0px;
}
.navbar{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  background-color:#fff;
}
.navbar-default{
  background-color:#fff;
}
