 @font-face {
 font-family: 'oswaldregular';
 src: url('oswald.regular-webfont.eot');
 src: url('oswald.regular-webfont.eot?#iefix') format('embedded-opentype'),  url('oswald.regular-webfont.woff') format('woff'),  url('oswald.regular-webfont.ttf') format('truetype'),  url('oswald.regular-webfont.svg#oswaldregular') format('svg');
 font-weight: normal;
 font-style: normal;
}
 @font-face {
 font-family: 'titilliumtext22llight';
 src: url('titilliumtext22l002-webfont.eot');
 src: url('titilliumtext22l002-webfont.eot?#iefix') format('embedded-opentype'),  url('titilliumtext22l002-webfont.woff') format('woff'),  url('titilliumtext22l002-webfont.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'pala';
 src: url('pala.ttf'),
     url('pala.eot'); /* IE9 */ 
}

@font-face {
 font-family: 'gillsans';
 src: url('gillsans.ttf'),
     url('gillsans.eot'); /* IE9 */ 
}

body {
  /*font-family: titilliumtext22llight, gillsans, pala, sans-serif;*/
  font-family: gillsans, pala, sans-serif;
  background-color:#fff;
  overflow:hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: pala, sans-serif;
}
/*
img{
  width:100%;
}
*/
.clear{
  clear:both;
}
.header-div{
  width:100%;
  /*margin-bottom:30px;*/
}
.logo{
  width:20%;
  margin:0 auto;
  margin-bottom:5px;
}
.menu{
  margin:0px auto;
  padding: 15px 0px;
  /*margin-top:25px;*/  
}
.menu div{
  text-align:center;
}
.menu a{
  color:#7a7a7a;
  font-size:20px;
  line-height:22px;
  text-rendering: optimizeLegibility;  
  -webkit-font-smoothing: antialiased;
    
}
.menu a.active, .menu a:focus, .menu a:hover{
  background: url('under_line_dot.png') repeat-x bottom;
  text-decoration:none;
   
}

.footer{
  /*
  height:46px;
  margin-top:-46px;
*/
  height:36px;
  margin-top:-36px;
  width:100%;
  position:absolute;
  
}
.footer-menu ul li{
  float:left;
}
.social-links ul li{
  float:right;
}

.footer-links > ul.nav > li > a, .footer-links > ul.nav > li > a:hover,.footer-links > ul.nav > li > a:focus{
  background-color: transparent; 
  text-decoration: none; 
  color:#eee;
  font-size:13px;
}
.social-links{
  text-align:right;
}
.social-links img{
  height:46px;
  width:46px;
}
.social-links > ul.nav > li > a{
  padding-top:0px;
  padding-bottom:0px;
}
.carousel-words {
    color:#eee;
    top: 300px;
    left: 10%;
    margin-left: 0%;
    padding-left: 0;
    position: absolute;
    text-align: center;
    z-index: 15;
    font-size:34px;
}
nav.navbar-fixed-top, nav.navbar-fixed-bottom{
  border-width:0px;
}
.navbar{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; 
  background-color:#fff;
}
.navbar-default{
  background-color:#fff;
}

/*static pages*/
.logo-small{
  margin:auto;
  /*height:133px;
  width:280px;*/
  width:220px;
}
.logo-small img{
  width:100%;
}

.header-div-static{
  /*height:215px;*/
}
.background-image{
  /*position:fixed;*/
  position:absolute;
  /*top:215px;*/
  top:0px;
  left:0;
  width:100%;
  z-index:-1;  
}
.main-content{
  z-index:100;
}
.main-content, .contact_us_wrap .button, .contact_us_wrap .plain, .contact_us_wrap .form-wrap{
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  background-color:#000;
  background: rgba(64, 64, 64, 0.8);
  border:none;
  color:#fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#04040400, endColorstr=#04040400);  
}
.main-content{
  padding:10px 50px;
}
/*
.wwr{
  margin:40px 110px 0px 110px;
}
*/
.wwr, .wwd, .privacy, .contact_us_wrap{
  margin:40px 80px 0px 80px;
}
.content_title{
  font-size:31px;
  margin-top:20px;
  margin-bottom:10px;
  text-align:center;
  border-bottom: 2px solid #fff;
  line-height:33px;
}
.case{
  margin-bottom:3px;
  margin-left:10px;
}
.content_body p{
  margin:20px 0;
}
.header-div-static{
  background-color:#fff;
}
.quote{
  margin:auto 0px;
  text-align:center;
}
.left-quote{
  text-align:right;
}
.right-quote{
  text-align:left;
}
.contact_us_wrap{
  text-align:center;
 
}
.contact_us_wrap .button, .contact_us_wrap .plain{
    margin:0px 40px;
  margin-top:100px;
  display:block;
  color:#eee;

}
.contact_us_wrap .button{
  font-size:35px;
  padding:110px 0px;
  
}
.contact_us_wrap .plain{
  padding:50px 0px;
  font-size:20px;
}
.email_wrap{
  margin:10px 0px;
}
.email_wrap a{
  color:#eee;
}
.phone_wrap span{
  font-size:16px;
}
.enquire_btn{
  margin-right:15px;
}
.enquire_btn, .enquire_btn:hover{
  color:#999;
  background-color:#fff;  
} 
.form-wrap{
  padding:30px 0px;
}
.form-wrap .form-horizontal{
  width:85%;
  margin:auto;
  
}
.form_title{
  text-align:left;
  font-size:22px;
  border-bottom: 2px solid #fff;
}
.alert ul{
  padding-left:0px;
}
.alert ul li{
  float:left;
}
.button .alert{
  font-size:12px;
  margin-top:-70px;  
}
.button{
  z-index: 999;
}
.button a,.button a:focus, .button a:hover{
  color:#fff;
  text-decoration: none;
  cursor:pointer;
  
}
.radio_button input[type="radio"]{
  float:left;
  width:15%;
  margin-top:10px;
}
.radio_button input[type="text"]{
  width:85%;
}
.contact-head{
  position:absolute;
  right:0px;
  top:0px;
  z-index:999;
  padding: 10px 10px 0;
  text-align:right;
  font-size:12px;
}
.contact-head, .contact-head a, .contact-head a:hover{
  color:#7A7A7A;  
}
.carousel-inner img{
  width:100%;
}
.social-links img{
  height:32px;
  width:32px;
}
.form-wrap .modal-dialog .modal-content{
  background:none;
}
.form-group .close{
  color:#fff;
}
